* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
.btn {
    padding: 10px 25px;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.5s;
    letter-spacing: 2px;
    background: linear-gradient(to bottom left, #f47a65, #ff4f64);
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    min-width: 140px;
    color: #fff;
}

/* Global Styles */
.container {
    width: 80%;
    margin: 0 auto;
    font-weight: bold;
}
.clr {
    clear: both;
}
.design {
    color: #e8491d;
}

/* Header Section */
header {
    background-color: #35424a;
    border-bottom: 2px solid #e8491d;
    color: #fff;
    min-height: 75px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}
header .brand {
    float: left;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
}
header nav {
    float: right;
    padding: 20px;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    padding: 0 20px;
    display: inline;
}
header nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
header nav ul li a:hover {
    color: #ccc;
}

/* Showcase Section */
#showcase {
    background-image: url('./img/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    color: #f4f4f4;
    position: relative;
    margin-top: 70px;
}
.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(3, 3, 3, 0.555);
    padding: 5%;
}
#showcase h1 {
    padding-top: 15%;
    margin-bottom: 10px;
    font-size: 2rem;
}
#showcase p {
    padding-bottom: 10%;
    font-size: 1.2rem;
}

/* Welcome Section */
.welcome {
    background: #35424a;
    color: #fff;
    margin: auto;
    padding: 20px 30px;
    text-align: center;
    font-size: 1.5rem;
}

/*about page image section using css grid */
.grid {
    display: grid;
    grid-template-columns: 575px 575px 575px;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
}
.grid > div {
    width: 30%;
    float: left;
    margin: 80px 10px;
}
.grid > div > img {
    width: 125%;
    height: 185px;
}
.grid > div > h2 {
    padding: 20px 0; 
    text-align: center;
}
.grid > div > p {
    font-size: 1rem;
    text-align: center;
}

/* About image Section */
.box {
    width: 30%;
    float: left;
    margin: 80px 10px;
}
.box img {
    width: 100%;
    height: 200px;
}
.services img {
    width: 125%;
    height: 250px;
}
.box h2 {
    padding: 20px 0;
}
.box p {
    font-size: 1rem;
}

/* Footer Section */
footer {
    background: #191f22;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: bold;

}

/* About page Styles */
.about {
    margin-top: 100px;
    padding: 50px 30px
}
.about .left {
    float: left;
    width: 70%;
    text-align: left;
    font-weight: bold;
}
.about .left img {
    width: 80%;
    margin: auto;
    text-align: center;
    
}
.w-box {
    width: 90%;
    margin: 20px 0;
    color: #333;
    padding: 30px;
}
.w-box h2, .d-box h2 {
    text-align: center;
    margin-bottom: 10px;
}
.d-box {
    width: 80%;
    margin: 10px 10px;
    background: #35424a;
    color: #fff;
    padding: 20px;
}
.about .right {
    float: left;
    width: 27%;
}

/* About Page Styles */
.services {
    margin-top: 130px;
    margin-bottom: 50px;
}
.services section {
    padding: 40px 0;
}
.services .left {
    float: left;
    width: 48%;
    text-align: left;
    padding: 20px 30px;
}
.services img {
    width: 80%;
    margin: auto;
    text-align: center;
}
.services .right {
    float: left;
    width: 48%;
    text-align: left;
    padding: 20px 30px;
}

/* Contact Page Styles */
.contact {
    margin-top: 100px;
    padding: 50px 30px;
}
.contact .left {
    float: left;
    width: 60%;
    text-align: left;
}
.contact .left h2 {
    text-align: center;
}
.contact .right {
    float: left;
    width: 35%;
    background: #35424a;
    color: #fff;
    padding: 20px;
    margin: auto;
    text-align: left;
 
    
}
.contact .right p {
    padding: 10px 0;
}
.contact .right .down {
    margin-top: 20px;
}
#form input, #form textarea {
    display: block;
    width: 80%;
    padding: 7px 0;
    margin: 10px auto;
}
#form input[type="submit"] {
    background: #e8491d;
    color: #35424a;
    cursor: pointer;
    border: none;
}

/* project blogs style */

.img-container{
    max-width: 600px;
}

img{
    width: 100%
}


/* Media Query Styles */
@media(max-width:800px) {
    body {
        text-align: center;
    }
    .container {
        width: 95%;
    }
    header .brand {
        float: none;
        padding: 10px 0;
        font-size: 1.4rem;
        margin: 0 auto;
        text-align: center;
    }
    header nav {
        float: none;
        padding-bottom: 10px;
        text-align: center;
    }
    header nav ul li {
        display: inline;
        padding: 0 10px;
        font-size: 1rem;
        text-align: center;
    }

    .box {
        width: 100%;
        display: block;
        margin: 30px auto;
    }
    .about .left {
        float: none;
        width: 100%;
        display: block;
    }
    .about .left img {
        width: 100%;
    }
    .w-box {
        width: 100%;
        padding: 10px 5px;
    }
    .about .right {
        float: none;
        width: 100%;
        display: block;
    }
    .services .left {
        float: none;
        width: 100%;
        display: block;
        padding: 20px 30px;
    }
    .services img {
        width: 100%;
    }
    .services .right {
        float: none;
        width: 100%;
        display: block;
    }
    .contact .left {
        float: none;
        width: 100%;
        display: block;
    }
    .contact .right {
        float: none;
        width: 100%;
        display: block;
    }
}
